<template>
    <div>
        <div>
            <Header/>
            <main>
                <div>
                    <LoadingBuble v-if="loading" style="margin-top: 300px;"/>
                </div>
                <div style="margin-top: 100px;" class="container d-flex justify-content-start"><h2>Tulisan</h2></div>
                <div class="container" style="margin-top: 30px; margin-bottom:70px;">
                    <div class="col-md-8">
                        <div class="card mb-5 shadow-lg" style="border:0; border-radius:20px;">
                            <img :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/500/300'" class="card-img-top"
                            style="border-radius:10px 10px 0 0;" alt="photo" height="300px">
                            <div class="card-body text-left m-4">
                                <h2 class="card-title"><b>{{ blog.title}}</b></h2>
                                <h5 class="text-muted">{{ blog.updated_at}}</h5>
                                <p class="card-text" style="text-align:left; margin-top: 30px;">
                                    {{ blog.description}}
                                </p>
                            </div>                                      
                        </div>
                    </div>
                </div>            
            </main>
            <Footer/>
        </div>
    </div>    
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import LoadingBuble from '@/components/Loading2.vue'
import axios from 'axios'

export default {
   name: 'Blog',
   data: () => ({
        blog: {},
        apiDomain: 'https://demo-api-vue.sanbercloud.com',
        loading:false,
    }),

    components: {
        Header,
        Footer,        
        LoadingBuble,
    },

     methods: {
        async go() {
        let { id } = this.$route.params;
        this.loading = true

        const config = {
            method: 'get',
            url : `${this.apiDomain}/api/v2/blog/${id}`
        }
      
        await axios(config) 
            .then(response => {
            let { blog } = response.data;
            this.blog = blog;
            this.loading = false
            //   console.log(blog)
            })

            .catch( error => {
            console.log(error)
            });
        }
  },

  created() {
    this.go()
  },

  mounted() {
      document.title = "Blog - Tulisan Millenial"
  }
};
</script>
