<template>
  <div>
    <Header/>
    <main>
      <div class="container mb-5" style="margin-top: 100px;">
        <div class="text-left mb-5">
            <h1 class="mb-4">Semua Tulisan Milenial</h1>
        </div>
        <div>
          <LoadingBuble v-if="loading"/>
        </div>
        <div class="row" >
          <Card v-for="blog in blogs" :key="blog.id" :blog="blog"> </Card>
        </div>    
      </div> 
    
      <div class="d-flex justify-content-center mb-5">     
          <b-pagination
            v-model="currentPage"
            :total-rows="cards"
            :per-page="perPage"
            pills
            size="lg"
          >
          </b-pagination>     
      </div>
    </main>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import LoadingBuble from '@/components/Loading2.vue'
import Card from '@/components/Card.vue'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Blogs',
  components: {
    Header,
    Footer,
    Card,
    LoadingBuble,
  },
  computed: {
    currentPage : {
      get () {
        return this.page
      },
      set (value) {
        this.changePage(value)
      }
    },
    ...mapGetters({
      blogs       : 'blogs/blogs',
      loading     : 'blogs/loading',
      page        : 'blogs/page',
      cards       : 'blogs/cards',
      perPage     : 'blogs/perPage'
    })
  },
  methods: {
    ...mapActions({
      pagination  : 'blogs/pagination',
      changePage  : 'blogs/changePage'
    })
  },
  created () {
    this.pagination()
  },
  mounted () {
    document.title = "Blogs - Tulisan Millenial"
  }
}
</script>