<template>
    <div class="services-area">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <b-card no-body class="overflow-hidden border-0 shadow-lg" style="max-width: 100em; border-radius:30px">
                        <b-row no-gutters>
                            <b-col md="3" class="my-auto ml-4">
                                <b-icon icon="book" style="color:#1f2b7b; width: 50px; height: 50px;"></b-icon>
                            </b-col>
                            <b-col md="" class="my-3 mr-4 ml-2">
                                <b-card-body>
                                    <b-card-text class="text-left">
                                        <h2 class="mb-3"><b>Nyaman</b></h2>
                                        <h4>Membaca blog disini seakan kamu membaca novel kesukaanmu.</h4>
                                    </b-card-text>
                                </b-card-body>
                            </b-col>
                        </b-row>
                    </b-card>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <b-card no-body class="overflow-hidden border-0 shadow-lg" style="max-width: 100em; border-radius:30px">
                        <b-row no-gutters>
                            <b-col md="3" class="my-auto ml-4">
                                <b-icon icon="people" style="color:#1f2b7b; width: 50px; height: 50px;"></b-icon>
                            </b-col>
                            <b-col md="" class="my-3 mr-4 ml-2">
                                <b-card-body>
                                    <b-card-text class="text-left">
                                        <h2 class="mb-3"><b>Banyak Penulis</b></h2>
                                        <h4>Disini kamu dapat bertemu dengan berbagai penulis dimana-mana.</h4>
                                    </b-card-text>
                                </b-card-body>
                            </b-col>
                        </b-row>
                    </b-card>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <b-card no-body class="overflow-hidden border-0 shadow-lg" style="max-width: 100em; border-radius:30px">
                        <b-row no-gutters>
                            <b-col md="3" class="my-auto ml-4">
                                <b-icon icon="hdd-stack" style="color:#1f2b7b; width: 50px; height: 50px;"></b-icon>
                            </b-col>
                            <b-col md="" class="my-3 mr-4 ml-2">
                                <b-card-body>
                                    <b-card-text class="text-left">
                                        <h2 class="mb-3"><b>Beragam</b></h2>
                                        <h4>Kamu dapat menemukan berbagai tipe tulisan yang lengkap disini.</h4>
                                    </b-card-text>
                                </b-card-body>
                            </b-col>
                        </b-row>
                    </b-card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Banner'
    }
</script>

<style scoped>
    .single-services {
        border : 0.5px solid #194350 !important;
    }
</style>