<template>
    <section class="slider-area ">
          <div class="slider-active">
              <!-- Single Slider -->
              <div class="single-slider slider-height d-flex align-items-center">
                  <div class="container">
                      <div class="row">
                          <div class="col-xl-6 col-lg-7 col-md-12">
                              <div>
                                    <h1 class="text-white" data-animation="fadeInLeft" data-delay="0.2s">
                                      Selamat datang, <br> di Tulisan Millenial!
                                    </h1>
                                    <p data-animation="fadeInLeft" data-delay="0.4s" class="mt-3 text-white">
                                      Tempat para millenial menuangkan isi pikiran dan imajinasi mereka yang tentunya sangat bermanfaat bagi generasi muda.
                                    </p>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                            <div class="col-xl-6 col-lg-7 col-md-12 text-left">
                                <router-link :to="{ name: 'auth.Register'}">
                                    <button class="btn text-white p-4" style="height:50px; width:40%; border-color:#fff;border-radius:10px;">
                                        <h4 class="text-white">Mulai Sekarang!</h4>
                                    </button>
                                </router-link>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
    </section>
</template>

<script>
    export default {
        name: 'Jumbotron'
    }
</script>

<style scoped>
    h1 {
        text-align: left;
        font-size: 32px !important;
        font-weight: 600;
    }

    p {
        
        text-align: left;
        font-weight: 500;
    }
</style>